{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <style>
      .noHover{
    pointer-events: none;
}
    </style>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">FOC Prediction</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form action="/predictFOC/"  method="POST">
                    {% csrf_token %}
                     <!-- {{ form.as_p }} -->
                    <div class="row">
                     {{form.errors}}
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Draft(m)</label>
                          {{form.draft}}
                          <!-- <input type="text" class="form-control" id="name"> -->
                        </div>
                      </div>
                     <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">AGE</label>
                        {{form.age}}
                        <!-- <input type="text" class="form-control" id="email"> -->
                      </div>
                    </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Model_Sea_State_D</label>
                          {{form.model_sea_state_d}}
                          <!-- <input type="text" class="form-control" id="email"> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">STW_kn</label>
                          {{form.stw_kn}}
                          <!-- <input type="text" class="form-control" id='addr'> -->
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Number_of_Months_after_Dry_Dock</label>
                          {{form.no_of_months_after_dry_dock}}
                          <!-- <input type="text" class="form-control" id='phone'> -->
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">DWT(T)</label>
                          {{form.dwt}}
                          <!-- <input type="text" class="form-control" id='addr'> -->
                        </div>
                      </div>

                      
                    </div>
                    <div>
                      <!-- <button type="submit" class='button' >ADD</button> -->
                      <button type="submit" name="register" class="btn btn-primary pull-left">Calculate</button>
                      {% if scoreval is not null %}
                        <h3><span class="tim-note"> The Predicted FOC is <span class="text-success"> {{scoreval}} </span> Kg </span> </h3>
                      {% endif %}  
                    </div>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
